@main("User Dashboard") {

<div id="menuBar">
    <a href="#" class="btn btn-primary" data-action="toggle" data-side="right">
        <span class="glyphicon glyphicon-chevron-left">Show Menu</span>
    </a>
</div>

<div id="prompt">
@Application.authenticateUser()
</div>
<div class="main-content">
    <div class="content-container">

        <div id="teams">
            <!-- Goes to a specific team dashboard -->
            <a href="#">
                <div class="team">
                    @{Account.find.where().eq("userName", session().get("connected")).findUnique().team.name}
                </div>
            </a>
            <a href="#">
                <div class="team">
                    Team_Name
                </div>
            </a>
            <a href="#">
                <div class="team">
                    Team_Name
                </div>
            </a>
        </div>
    </div>
</div>

<div class="sidebars">
    <div class="sidebar left">Left</div>
    <div class="dashboard">Right</div>
    <div class="sidebar top">Top</div>
    <div class="sidebar bottom">Bottom</div>
</div>
}