@main("User Dashboard") {

<div id="prompt">
@Application.authenticateUser()
</div>
<div class="main-content">
    <div class="content-container">

        <div id="teams">
            <!-- Goes to a specific team dashboard -->
            <a href="#">
                <div class="team">
                    Team_Name
                </div>
            </a>
            <a href="#">
                <div class="team">
                    Team_Name
                </div>
            </a>
            <a href="#">
                <div class="team">
                    Team_Name
                </div>
            </a>
        </div>
    </div>
</div>

}