@main("User Dashboard") {

<a id="menuBar" class="btn btn-primary">
    <span class="glyphicon glyphicon-chevron-left">Show Menu</span>
</a>

<div class="ui red vertical demo sidebar menu">
    <a class="item">
        <i class="home icon"></i>
        Sprint View
    </a>
    <a class="active item">
        <i class="heart icon"></i>
        Team View
    </a>
    <a class="item">
        <i class="facebook icon"></i>
        Story View
    </a>
</div>

<div id="prompt">
@Application.authenticateUser()
</div>
<div class="main-content">
    <div class="content-container">

        <div id="teams">
            <!-- Goes to a specific team dashboard -->
            <a href="#">
                <div class="team">
                    @defining(Account.find.where().eq("userName", session().get("connected")).findUnique()) { account =>
                        @if(account.team != null) {
                            @account.team.name
                        } else {
                            Join a team by using the drop-down menu
                        }
                    }
                </div>
            </a>
        </div>
    </div>
</div>
}