@main("Login") {

<div id="login-body">
    <div id="login-form">
        <h1 class="login-text" style="text-align:center;">Login Failed</h1>
        <form action="@routes.Application.verifyUser()" method="post">
            <div class="user-info">
                <label class="login-text">Enter User Name: </label><input class="userName"  type="text" name="userName">
                <label class="login-text">Enter Password: </label><input  class="password" type="password" name="password">
                <button class="submit-button" type="submit">Go to dashboard</button>
            </div>
        </form>
    </div>
</div>

}