@import helper._

@main("Login") {

<div id="login-body">
    <div id="login-form">
        <h1 class="login-text" style="text-align:center;">Login Failed</h1>
        @helper.form(action = routes.Application.verifyUser()) {
            <div class="user-info">
                <label class="login-text">Enter User Name: </label><input class="credentials"  type="text" name="userName">
                <label class="login-text">Enter Password: </label><input  class="credentials" type="password" name="password">

                <div style="color:red;">Invalid Username / Password. Please try again</div>

                <button class="submit-button" type="submit">Go to dashboard</button>
            </div>
        }
    </div>
</div>

}