@main("Welcome") {

<div id="landing-content">
    <div id="front-heading">
    
   
	<div class="container">
  	<div class="media-body">
  		<div>
  		<img id = "umbrella" src= "@routes.Assets.versioned("images/colorful_umbrellas.jpg")">	

  		</div>
    <h4 class="media-heading">Media heading</h4>
   			Agile Management Tool: This  is an iterative approach of managing the design, planning and guiding project activities for engineering, information technology, and other business areas that aims to provide new product or service development in a highly flexible and efficient manner.
            Agile management focuses on continuous improvement, scope flexibility, team input, and delivering essential quality products. 
  	</div>
			<div class="the-form">
				<h1 style="text-align:center;">Sign Up!</h1>
				<form action="@routes.Application.createUser()" method="post">
					<div class="user-info">
						<label>User Name: </label><input id="userName"  type="text" name="userName">
						<label>Password: </label><input  id="password" type="password" name="password">
						<button class="submit-button" type="submit">Create Account</button>
					</div>
				</form>
			</div>
		
	</div>
</div>

}
