@main("Sprint Information") {

<div class="middle-bar">
    <div class="content-container">
        <div class="story" style="float:left; margin-left: -60px;">
            <h2 style="text-align: center;">Story Name</h2>
            <div class="task">
                Task
            </div>
            <div class="task">
                Task
            </div>
            <div class="task">
                Task
            </div>
        </div>

        <div class="story" style="float:right;">
            <h2 style="text-align: center;">Story Name</h2>
            <div class="task">
                Task
            </div>
            <div class="task">
                Task
            </div>
            <div class="task">
                Task
            </div>
        </div>
    </div>
</div>

}