@(teamID : Long)

@main("Team Dashboard") {

<div id="prompt">
    @Application.authenticateUser()
</div>
<div class="main-content">
    <div class="content-container">

        <h3>Your new team!</h3>

        <div id="sprints">
            <a href="@routes.Application.sprintInfo()">
                <div class="sprint">
                    Sprint_Name
                </div>
            </a>
            <a href="@routes.Application.sprintInfo()">
                <div class="sprint">
                    Sprint_Name
                </div>
            </a>
            <a href="@routes.Application.sprintInfo()">
                <div class="sprint">
                    Sprint_Name
                </div>
            </a>
        </div>
    </div>
</div>

}