<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("libs/remodal/dist/remodal.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("libs/remodal/dist/remodal-default-theme.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("libs/font-awesome/css/font-awesome.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("libs/sidebar/dist/semantic.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("libs/jquery-ui/jquery-ui.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">