@import helper._

<nav class="navbar navbar-default">
    <ul class="container-fluid">

        <a class="navbar-brand" href="#">FP-Squared</a>

        <!-- Start of Navigation bar -->
        <ul class="nav navbar-nav">
            <li><a href="@routes.Application.index()">HOME</a></li>
            @if(session.containsKey("connected")) {
            <li><a href="@routes.Application.dashboard()">DASHBOARD</a></li>

            <!-- team dropdown -->
            <li id="teamDropdown" class="dropdown">
                <button style="margin-top: 7px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Team
                    <span class="caret"></span></button>
                <ul id="teamMenu" class="dropdown-menu" role="menu">
                    <li><a data-remodal-target="teamCreationModal">Create a Team</a></li>
                    <li><a data-remodal-target="teamJoinModal">Join a Team</a></li>
                </ul>
            </li>

            <!-- Team remodal -->

            <!-- This is the interface for creating a team -->
            <div class="remodal-bg">
                <div class="remodal" data-remodal-id="teamCreationModal">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    @helper.form(action = routes.Application.createTeam, 'id -> "teamForm") {
                    <h1>Team Creation</h1>
                    <p>
                        Create a Team so you can start your Sprints! It's as simple as just picking your team name!
                    </p>

                    <div class="form-group">
                        <input id="teamName" type="text" placeholder="Team Name" name="name" required>
                    </div>
                    <br>
                    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                    <button id="createTeam" type="submit" data-remodal-action="confirm" class="remodal-confirm">Create</button>
                    } <!-- end form -->
                </div>
            </div>

            <!-- This is the interface for joining a team -->
            <div class="remodal-bg">
                <div class="remodal" data-remodal-id="teamJoinModal">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    @helper.form(action = routes.Application.joinTeam, 'id -> "joinForm") {
                    <h1>Join a team</h1>
                    <p>
                        Click on the dropdown to see all the teams you can join!
                    </p>

                    <div class="form-group">
                        <!-- All possible teams to join -->
                        <select name="id">
                            @for(team <- Team.find.all()) {
                            <option value="@team.getId()">@team.name</option>
                            }
                        </select>
                    </div>
                    <br>
                    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                    <button id="joinTeam" type="submit" data-remodal-action="confirm" class="remodal-confirm">Join Team</button>
                    } <!-- end form -->
                </div>
            </div>

            <!-- end Team remodal -->

            <!-- end of team dropdown -->

            <!-- sprint dropdown -->
            <li id="sprintDropdown" class="dropdown">
                <button style="margin-top: 7px;" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Sprint
                    <span class="caret"></span></button>
                <ul id="sprintMenu" class="dropdown-menu" role="menu">
                    @defining(Account.find.where().eq("userName", session().get("connected")).findUnique()) { account =>
                        @if(account.team != null && account.team.getOpenSprints() != null) {
                            @for(sprint <- account.team.getOpenSprints()) {
                                <li><a href="@routes.Application.sprintInfo(sprint.getId())">@sprint.name</a></li>
                             }
                            <li class="divider"></li>
                        }
                    }
                    <li><a data-remodal-target="sprintCreationModal">Create a Sprint</a></li>
                    <li><a data-remodal-target="sprintClosureModal">Close a Sprint</a></li>
                </ul>
            </li>

            <!-- Sprint remodal -->

            <!-- This is the interface for creating a sprint -->
            <div class="remodal-bg">
                <div class="remodal" data-remodal-id="sprintCreationModal">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    @helper.form(action = routes.Application.createSprint, 'id -> "sprintForm") {
                    <h1>Create a Sprint</h1>
                    <p>
                        Create a Sprint for your Team.
                    </p>

                    <div class="form-group">
                        <input id="sprintName" type="text" placeholder="Sprint Name" name="name" required>
                        <label>
                            Select Start Date
                        </label>
                        <input id="startDate" type="date"  name="start" required>
                        <label>
                            Select End Date
                        </label>
                        <input id="endDate" type="date"  name="end" required>
                    </div>
                    <br>
                    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                    <button id="createSprint" type="submit" data-remodal-action="confirm" class="remodal-confirm">Create</button>
                    } <!-- end form -->
                </div>
            </div>

            <!-- This is the interface for closing a sprint -->
            <div class="remodal-bg">
                <div class="remodal" data-remodal-id="sprintClosureModal">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    @helper.form(action = routes.Application.closeSprint, 'id -> "closeSprintForm") {
                    <h1>Close a sprint</h1>
                    <p>
                        Click on the dropdown to see all the sprints that you can close.
                    </p>

                    <div class="form-group">
                        <select name="id">
                            @defining(Account.find.where().eq("userName", session().get("connected")).findUnique()) { account =>
                            @if(account.team != null) {
                            @for(sprint <- account.team.getOpenSprints()) {
                            <option value="@sprint.getId()">@sprint.name</option>
                            }
                            } else {
                            You must be in a team to close a sprint.
                            }
                        </select>
                    </div>
                    } <!-- end form -->
                    <br>
                    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                    <button id="closeSprint" type="submit" data-remodal-action="confirm" class="remodal-confirm">Close Sprint</button>
                    }
                </div>
            </div>

            <!-- end Sprint remodal -->
            <!-- end of sprint dropdown -->

            @if(session.containsKey("sprintID")) {
            <!-- story dropdown -->
            <li id="storyDropdown" class="dropdown">
                <button style="margin-top: 7px;" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Story
                    <span class="caret"></span></button>
                <ul id="storyMenu" class="dropdown-menu" role="menu">
                    <li><a data-remodal-target="storyCreationModal">Create a Story</a></li>
                    <li><a data-remodal-target="sprintClosureModal">Close a Story</a></li>
                </ul>
            </li>

            <!-- Story remodal -->

            <!-- This is the interface for creating a Story -->
            <div class="remodal-bg">
                <div class="remodal" data-remodal-id="storyCreationModal">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    @helper.form(action = routes.Application.createStory, 'id -> "storyForm") {
                    <h1>Create a Story</h1>
                    <p>
                        Create a Story for your Team.
                    </p>

                    <div class="form-group">
                        <input id="storyName" type="text" placeholder="story Name" name="name" required>
                        <label>
                            Select Start Date
                        </label>
                        <input id="storyStartDate" type="date"  name="start" required>
                        <label>
                            Select End Date
                        </label>
                        <input id="storyEndDate" type="date"  name="end" required>
                    </div>
                    <br>
                    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                    <button id="createStory" type="submit" data-remodal-action="confirm" class="remodal-confirm">Create</button>
                    } <!-- end form -->
                </div>
            </div>
            <!-- end story remodal -->
            } <!-- end of story dropdown -->

        </ul> <!-- end of Navigation bar -->

        <!-- Login / Logout forms -->
        <form action="@routes.Application.logout()" method="get" class="navbar-form navbar-right">
            <button type="submit" class="btn btn-default">Logout</button>
        </form>

        } else {
        <li><a href="@routes.Application.login()">LOGIN</a></li>
    </ul>
    <form action="@routes.Application.verifyUser()" method="post" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="User Name" name="userName">
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
    }  <!-- end Login / Logout forms -->

    </div>
    </div><!-- /.container-fluid -->
</nav>