@import helper._

<nav class="navbar navbar-default">
    <ul class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
            <a class="navbar-brand" href="#">FP-Squared</a>
            <ul class="nav navbar-nav">
                <li><a href="@routes.Application.index()">HOME</a></li>
                @if(session.containsKey("connected")) {
                <li><a href="@routes.Application.dashboard()">DASHBOARD</a></li>
                <li class="dropdown">
                        <button style="margin-top: 7px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                        <span class="caret"></span></button>
                        <ul id="teamMenu" class="dropdown-menu" role="menu">
                            <li><a href="#">Team_Name</a></li>
                            <li><a href="#">Team_Name</a></li>
                            <li><a href="#">Team_Name</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a data-remodal-target="teamCreationModal">Create a Team</a></li>
                            <li><a data-remodal-target="teamJoinModal">Join a Team</a></li>
                        </ul>

                        <!-- This is the interface for creating a team -->
                        <div class="remodal-bg">
                            <div class="remodal" data-remodal-id="teamCreationModal">
                                <button data-remodal-action="close" class="remodal-close"></button>
                                @helper.form(action = routes.Application.createTeam, 'id -> "teamForm") {
                                <h1>Team Creation</h1>
                                <p>
                                    Create a Team so you can start your Sprints! It's as simple as just picking your team name!
                                </p>

                                    <div class="form-group">
                                        <input id="teamName" type="text" placeholder="Team Name" name="name" required>
                                    </div>
                                    <br>
                                    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                                    <button id="createTeam" type="submit" data-remodal-action="confirm" class="remodal-confirm">Create</button>
                                }
                            </div>
                        </div>

                        <!-- This is the interface for joining a team -->
                        <div class="remodal-bg">
                            <div class="remodal" data-remodal-id="teamJoinModal">
                                <button data-remodal-action="close" class="remodal-close"></button>
                                @helper.form(action = routes.Application.joinTeam, 'id -> "joinForm") {
                                <h1>Join a team</h1>
                                <p>
                                    Click on the dropdown to see all the teams you can join!
                                </p>

                                <div class="form-group">
                                    <!-- All possible teams to join -->
                                    <select name="name">
                                        @for(team <- Team.find.all()) {
                                        <option id="team_@team.getId()">@team.name</option>
                                        }
                                    </select>
                                </div>
                                <br>
                                <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                                <button id="joinTeam" type="submit" data-remodal-action="confirm" class="remodal-confirm">Join Team</button>
                                }
                            </div>
                        </div>
                </li>
                </ul>
                <form action="@routes.Application.logout()" method="get" class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-default">Logout</button>
                </form>

                } else {
                <li><a href="@routes.Application.login()">LOGIN</a></li>
                </ul>
                <form action="@routes.Application.verifyUser()" method="post" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="User Name" name="userName">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
                }

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
